@charset "UTF-8";

@media screen and (max-width:767px) {
/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		common
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/
.pc:not(.sp), .pad:not(.sp) {
	display: none !important;
}

/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		header
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/
body>header {
	height: 50px;
	background-color: rgba(255,255,255,.7);
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 999;
	-webkit-backdrop-filter: saturate(180%) blur(5px);
	backdrop-filter: saturate(180%) blur(5px);
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}
body:not(#top) > header{
	top: 0;
}
body#top > header{
	top: -60px;
	transition: all .3s;
}
body>header>nav>.logo {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 98;
	display: block;
}
body>header>nav>.logo>img {
	height: 20px;
	width: auto;
	margin: 18px 20px 12px;
	position: absolute;
}
body>header>nav {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 91;
}
body>header>nav>div{
	display:none;
}
body>header>nav>div>a {
	display:block;
	position: relative;
	z-index: 97;
	width: 80%;
	text-align: center;
	line-height: 50px;
	border-bottom: 1px solid #CCC;
	margin: 0 auto;
	font-size: 18px;
	transition: background-color .2s;
}
body>header>nav>div>a:first-child {
	margin-top: 50px;
}
body>header>nav .hover {
	background-color: rgba(0,0,0,.1);
}
body>header>#navbtn {
	position: absolute;
	right: 0;
	border: 1px solid #999;
	padding-top: 3px;
	margin: 5px 7px;
	border-radius: 5px;
	height: 40px;
	width: 44px;
	text-align: center;
	text-indent: 1px;
  z-index: 99;
}
body>header>#navbtn>i{
	font-size: 24px;
	color: #555;
}
body>header>#navbtn>i.fa-times,
body>header>#navbtn>span.close{
	display:none;
}
body>header>#navbtn>span{
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 10px;
	color: #555;
	position: absolute;
	left: 0;
	width: 43px;
	text-align: center;
	bottom: 0;
}
/*
body>header>#navbtn {
	padding: 15px 20px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 99;
	cursor: pointer;
	width: 66px;
	height: 50px;
}
body>header>#navbtn>span {
	width: 26px;
	height: 3px;
	background-color: #555;
	display: block;
	position: absolute;
	transition: all .5s;
}
body>header>#navbtn>.n1 {
	top: 18px;
}
body>header>#navbtn>.n2 {
	bottom: 18px;
}
.rotate1, .rotate2 {
	box-shadow: none !important;
	background-color: #333333 !important;
}
.rotate1 {
	-webkit-transform  : rotate(135deg) translate(4px, -4px);
	-moz-transform     : rotate(135deg) translate(4px, -4px);
	-ms-transform      : rotate(135deg) translate(4px, -4px);
	-o-transform       : rotate(135deg) translate(4px, -4px);
	transform          : rotate(135deg) translate(4px, -4px);
}
.rotate2 {
	-webkit-transform  : rotate(45deg) translate(-3px, -4px);
	-moz-transform     : rotate(45deg) translate(-3px, -4px);
	-ms-transform      : rotate(45deg) translate(-3px, -4px);
	-o-transform       : rotate(45deg) translate(-3px, -4px);
	transform          : rotate(45deg) translate(-3px, -4px);
}
*/
body>header>.navCover {
	position: fixed;
	top: 0;
	height: 100%;
	width: 100%;
	background: rgba(255,255,255,.9);
	z-index: 90;
}

/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		footer
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/
footer {
	text-align: center;
	padding: 40px 0 20px !important;
	border-top: 1px solid #E0E0E0 !important;
}
footer>p{
	font-size: 20px;
	margin-bottom: 20px;
}
footer>p:after{
	width:40px;
}
footer>.container{
}
footer>.container>nav{
	font-size:0;
}
footer>.container>nav>a{
	display:inline-block;
	width:120px;
	height:120px;
	line-height:120px;
	color:#FFF;
	font-size: 20px;
  text-shadow: 0 0 3px rgba(0,0,0,.1);
	text-align:center;
	margin:5px;
	transition:all .2s;
}
footer>.container>nav>a.order{
	font-size: 26px;
}
footer>.container>nav>a.hover{
	opacity:.8;
}
}
@media screen and (min-width:520px) and (max-width:767px) {
footer>.container>nav>a.order{
	width:510px;
}
}
@media screen and (max-width:519px) {
footer>.container>nav>a.order{
	width:250px;
}
}
@media screen and (max-width:767px) {
footer>.nav2{
	width:94%;
	border-top: 1px solid #E0E0E0;
	margin: 20px auto 40px;
}
footer>.nav2>a{
	line-height:36px;
	text-align:center;
	border-bottom: 1px solid #E0E0E0;
	display: block;
	font-size: 14px;
}

footer>.sns{
	margin-bottom: 40px;
	font-size: 0;
}
footer>.sns>a{
	padding: 0 10px;
	display: inline-block;
}
footer>.sns>a:first-child{
	margin-right: 10px;
}
footer>.sns>a>i{
	font-size: 24px;
  color: #555;
}

footer>a.logo {
	transition: opacity .3s;
}
footer>a.logo:hover {
	opacity: .5;
}
footer>a.logo>img {
	width: 120px;
}
footer>a[data-scroll] {
	display: block;
	width: 60px;
	height: 60px;
	margin: 10px auto 0;
	position: relative;
}
footer>a[data-scroll]:before, footer>a[data-scroll]:after {
	position: absolute;
	content: "";
	height: 3px;
	background-color: #555;
	transition: top .2s ease-out;
	top: 30px;
}
footer>a[data-scroll]:hover:before, footer>a[data-scroll]:hover:after {
	top: 20px;
}
footer>a[data-scroll]:before, footer>a[data-scroll]:after {
	width: 20px;
}
footer>a[data-scroll]:before {
	-webkit-transform  : rotate(45deg);
	-moz-transform     : rotate(45deg);
	-ms-transform      : rotate(45deg);
	-o-transform       : rotate(45deg);
	transform          : rotate(45deg);
	right: 14px;
}
footer>a[data-scroll]:after {
	-webkit-transform  : rotate(-45deg);
	-moz-transform     : rotate(-45deg);
	-ms-transform      : rotate(-45deg);
	-o-transform       : rotate(-45deg);
	transform          : rotate(-45deg);
	left: 14px;
}
footer>small{
	font-size:12px;
	display:block;
	text-align:right;
	padding-right:3%;
	color:#555;
}

/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		top
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/
body:not(#top)>h1 {
	text-align: center;
	font-size: 36px;
	line-height: 80px;
	margin: 50px 0;
	border-bottom: 1px solid #E0E0E0;
	border-top: 1px solid #E0E0E0;
}

/* mv */
.slider {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
.slider .slide {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	background-size: cover;
	background-position: top center;
}
.def {
	-webkit-transition  : -webkit-transform 10s cubic-bezier(0, 0, 1, 1);
	-moz-transition     : -moz-transform 10s cubic-bezier(0, 0, 1, 1);
	-ms-transition      : -ms-transform 10s cubic-bezier(0, 0, 1, 1);
	-o-transition       : -o-transform 10s cubic-bezier(0, 0, 1, 1);
	transition          : transform 10s cubic-bezier(0, 0, 1, 1);
	-webkit-transform  : scale(1,1);
	-moz-transform     : scale(1,1);
	-ms-transform      : scale(1,1);
	-o-transform       : scale(1,1);
	transform          : scale(1,1);
}
.zoom {
	-webkit-transform  : scale(1.2,1.2);
	-moz-transform     : scale(1.2,1.2);
	-ms-transform      : scale(1.2,1.2);
	-o-transform       : scale(1.2,1.2);
	transform          : scale(1.2,1.2);
}
.mv>h1{
	width:180px;
	position:absolute;
	z-index: 12;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 45px;
	left: 0;
	right: 0;
}
.mv>h1>img{
	width:100%;
	height:auto;
}
/*.mv>h1 {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	background: url(../img/frame.png) no-repeat center center;
	background-size: contain;
	text-align: center;
	z-index: 12;
}
.mv>h1>a {
	display: block;
	width: 60px;
	height: 60px;
	margin: 0 auto;
	position: relative;
}
.mv>h1>a:before, .mv>h1>a:after {
	position: absolute;
	content: "";
	width: 24px;
	height: 3px;
	background-color: #fff;
	transition: top .2s ease-out;
	top: 20px;
}
.mv>h1>a:before {
	-webkit-transform  : rotate(-45deg);
	-moz-transform     : rotate(-45deg);
	-ms-transform      : rotate(-45deg);
	-o-transform       : rotate(-45deg);
	transform          : rotate(-45deg);
	right: 10px;
}
.mv>h1>a:after {
	-webkit-transform  : rotate(45deg);
	-moz-transform     : rotate(45deg);
	-ms-transform      : rotate(45deg);
	-o-transform       : rotate(45deg);
	transform          : rotate(45deg);
	left: 10px;
}
.mv>h1>a:hover:before, .mv>h1>a:hover:after {
	top: 30px;
}
.mv>h1 {
	width: 300px;
	height: 220px;
	font-size: 36px;
	padding-top: 94px;
}
.mv>h1>img {
	width: 60%;
}*/

/* s2 (bois de guiの説明エリア) */
#s2>div.p {
	background-color: #C7C7BF;
}
#s2>div.p>dl {
	color: #FFF;
	font-size: 12px;
	text-align: center;
	width: 100%;
	line-height: 2em;
	padding: 100px 10px;
}
#s2>div.p>dl>dt:first-child img {
	width: 170px;
}
#s2>div.p>dl>dt:not(:first-child), #s2>div.p>dl>dd:last-child {
	padding: 0 20px;
   line-height: 24px;
}
#s2>div.p>dl>dd:not(:last-child) {
	margin-bottom: 30px;
}
#s2>div.p>dl>dt:not(:first-child) {
	margin-bottom: 10px;
}

/* fb */
#fb_plugin{
	width:100%;
}
#fb_plugin>.fb-page{
	width: 100%;
	text-align: center;
	background-color:#000;
}

/* gallery */
#gallery {
	padding-bottom: 60px;
	position:relative;
}
#gallery>h2 {
	text-align: center;
	padding-top: 40px;
	margin-bottom: 20px;
	font-size: 20px;
	position:relative;
	z-index:2;
}
#gallery>h2:after{
	width:34px;
}
#instafeed{
	text-align:center;
	font-size:0;
}
#instafeed>a{
	display:inline-block;
	width:120px;
	height:120px;
	margin:1px;
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	transition:all .2s;
}
#instafeed>a.hover{
	opacity:.8;
}

/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		What's new / Lesson / WP
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/
/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		Order
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/
#order>section.lineup{
	padding-bottom:30px;
}
#order>section.lineup>.h2o{
	margin: 0 auto 50px;
	padding: 0 5%;
}
#order>section.lineup>.h2o>h3{
  font-size: 20px;
	position:relative;
	text-align:center;
}
#order>section.lineup>.h2o>h3:after{
	content:"";
	width:70px;
	height:1px;
	margin:0 auto;
	position:absolute;
	left:0;
	right:0;
	background-color:#333;
	bottom:0;
}
#order>section.lineup>.h2o>p{
	font-size: 12px;
	text-align: left;
	margin-top:30px;
}
#order>section.lineup>.h2o>p>strong{
	font-weight:bold;
}
#order>section.lineup>.h2o>p>span{
	display: inline-block;
	padding-left:14px;
	position:relative;
	margin-top:10px;
}
#order>section.lineup>.h2o>p>span:before{
	content:"・";
	position:absolute;
	left:0;
	top:0;
}
#order>section.lineup>h2{
	text-align: center;
	font-size: 20px;
	margin-bottom: 30px;
	position:relative;
}
#order>section.lineup>h2:after{
	content:"";
	width:100px;
	height:1px;
	margin:0 auto;
	position:absolute;
	left:0;
	right:0;
	background-color:#333;
	bottom:-2px;
}
#order>section.lineup>a{
	display: table;
	table-layout:fixed;
	width: 100%;
	height: 120px;
	background-color: #f4f4f4;
	position:relative;
	margin-bottom:30px;
	transition: background-color .2s;
}
#order>section.lineup>a.hover{
	background-color: #DDD;
}
#order>section.lineup>a>span.photo{
	display: table-cell;
	width: 34%;
	background-size: cover;
	background-position: center;
}
#order>section.lineup>a>h3{
	display: table-cell;
	width:66%;
	vertical-align: middle;
	text-align: center;
	font-size: 16px;
}
#order>section.lineup>a>h3>span.more{
	display:block;
	font-size: 12px;
	margin-top: 5px;
	color: #227;
}
#order>section.lineup>a>h3>span.more>span.ti-angle-right{
  margin-left: 2px;
}

#order>section.lineup>div{
	text-align:right;
	padding-right:5%;
}
#order>section.lineup>div>a.fax_sheet{
	font-size:14px;
  color: #666;
	display:inline-block;
	border:1px solid #AAA;
	border-radius:6px;
	padding:10px 22px;
	transition:all .2s;
}
#order>section.lineup>div>a.fax_sheet:hover{
	background-color:#EEE;
}
#order>section.lineup>div>a.fax_sheet>i.fa-print{
	font-size: 28px;
	padding-right: 5px;
}
#order>section.lineup>div>a.fax_sheet>span>i.fa-file-pdf-o{
	font-size: 16px;
	padding:0 2px;
}
#order>section.lineup>div>a.fax_sheet>span{
	font-size:12px;
	padding-left:5px;
}


/* Order details */
section.product_detail{
	position:relative;
}
section.product_detail>a.back{
	position:absolute;
	width: 50px;
	line-height: 32px;
	text-align: center;
	left: 0px;
	top: 70px;
}
.product_detail>.th>p>span{
	display: block;
	line-height: 12px;
	font-size: 12px;
	margin-top: -5px;
}
.product_detail>.type>select,
.product_detail>.quantity>select{
	border: 1px solid #AAA;
	height: 36px;
	width: 100%;
	padding: 5px;
	font-size: 16px;
	border-radius:4px;
	cursor:pointer;
	position:relative;
	transition:border .2s;
	z-index: 2;
	background-color: transparent;
}
.product_detail>.type>select[name="type"]:hover,
.product_detail>.quantity>select[name="quantity"]:hover{
	border: 1px solid #000;
}
.colormejs>div{
	width:100% !important;
}
.cartjs_box{
	border: none !important;
	width:220px !important;
	float:right !important;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.colormejs .cartjs_box>div,
.colormejs .cartjs_box>.cartjs_header{
	display:none !important;
}
.colormejs .cartjs_box>.cartjs_form>.cartjs_block{
	padding: inherit !important;
}
.cartjs_product_table{
margin-bottom: 20px;
}
.cartjs_product_table>table{
	width: 100% !important;
	margin: 0 !important;
	background-color:transparent !important;
	border: none !important;
}
.cartjs_product_table th,
.cartjs_block th{
	display:none !important;
}
.cartjs_product_table td,
.cartjs_block>.cartjs_dtl_tbl td{
	position:relative;
	padding:10px 0 !important;
	border: none !important;
}
.cartjs_sales_price,
.cartjs_product_num{
	display:none !important;
}
.cartjs_sk_link_other>a,
.cartjs_link_regal>a{
	font-size:10px;
}
.cartjs_cart_in>input,
.cartjs_buy>p>input{
	background-image:none !important;
	box-shadow:none !important;
	text-shadow:none !important;
	margin:0 !important;
	width: 100% !important;
	padding:0 !important;
	border-radius:0 !important;
	border:none !important;
	display: block;
	line-height: 50px;
	height: 50px;
	text-align: center;
	font-size: 16px !important;
	letter-spacing: 1px;
	transition:opacity .3s;
	cursor:pointer;
}
.cartjs_cart_in>input:hover{
	opacity:.8;
}
input.cartjs_product_input_txt,
.cartjs_quantity>input{
	width: 110px !important;
	height: 36px;
	padding: 5px;
	text-align: center;
	font-size: 14px;
	border-radius:4px;
	cursor:text;
	border: 1px solid #AAA;
	transition:border .2s;
}
.cartjs_product_table select,
.cartjs_block>.cartjs_dtl_tbl select{
	border: 1px solid #AAA;
	height: 36px;
	width: 100%;
	padding: 5px;
	font-size: 16px !important;
	border-radius:4px;
	cursor:pointer;
	position:relative;
	transition:border .2s;
	z-index: 2;
	background-color: transparent;
}
.cartjs_product_table select:hover,
input.cartjs_product_input_txt:hover{
	border: 1px solid #000;
}
.cartjs_option td:after,
.product_detail>.type:after,
.product_detail>.quantity:after{
	content: "";
	position: absolute;
	border-top: 8px solid #555;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	right: 15px;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 0;
	z-index: 1;
}
.cartjs_cart_in{
	margin: 0 !important;
}
.product_detail>.paypal_info{
	text-align:right;
	font-size:10px;
	margin-top:5px;
}
.product_detail>.paypal_info>p:first-child{
	display:inline-block;
	text-align:left;
	position:relative;
}
.product_detail>.paypal_info>p>b{
	font-weight:bold;
	font-size:1.1em;
}
.product_detail>.paypal_info>p span{
	position:absolute;
	left:-12px;
}
.product_detail>.paypal_info>p:last-child{
	text-align:right;
}
.product_detail>.paypal_info>p:last-child>a,
.product_detail>.detail>p>a{
	color:#44d;
}
.product_detail>.paypal_info>p:last-child>a:hover{
	text-decoration:underline;
}
.product_detail>.detail>p:last-child{
	margin-top:30px;
}
.product_detail>.detail>p>a{
	text-decoration:underline;
}
section.product_detail>.detail,
section.product_detail>.detail2{
	clear:both;
	padding-top: 30px;
}
section.product_detail>.detail>p,
section.product_detail>.detail2>p{
	line-height: 30px;
	font-size: 14px;
	color: #333;
}
.cartjs_box>form>.cartjs_product_img{
	display:none !important;
}
.cartjs_box>header.cartjs_header{
	display:none !important;
}
section.product_detail{
	width:  100%;
}
section.product_detail>h1{
	font-size: 28px !important;
	line-height: 36px !important;
	margin:0 0 20px 0 !important;
	border: none !important;
	padding-top: 20px;
	text-align:center;
}
section.product_detail>h1>span{
	font-size:24px;
	line-height:30px;
	display:block;
}
section.product_detail {
  padding: 50px 20px;
	border-bottom: 1px solid #E0E0E0;
}
section.product_detail>.product_img>.display_img{
	margin: 0 auto 20px;
	position:relative;
	padding-bottom:100%;
	overflow:hidden;
}
section.product_detail>.product_img>.display_img>img{
	position:absolute;
	top:0;
	bottom: 0;
	max-width: 100%;
	max-height: 100%;
	left: 0;
	right: 0;
	margin: auto;
}
section.product_detail>.product_img>.display_img>img.display{
	z-index:1;
	display:block;
}
section.product_detail>.product_img>.display_img>img:not(.display){
	display:none;
}
section.product_detail>.product_img>.thum{
	text-align:center;
}
section.product_detail>.product_img>.thum>span{
	height: 80px;
	width: 80px;
	display: inline-block;
	background-size: cover;
	border-radius: 6px;
	border: 4px solid #CCC;
	cursor: pointer;
	margin:0 5px;
	transition: border-color .2s;
}
section.product_detail>.product_img>.thum>span.active{
	border-color:#696;
}

.product_detail>.th{
	width: 30%;
	text-align: right;
	float:left;
	margin-top:20px;
}
.product_detail>.th>p{
	line-height:36px;
	margin-bottom:20px;
	font-size:12px;
	color:#555;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.product_detail>.type, .product_detail>.quantity{
	float:right;
	width: 60%;
	position:relative;
}
.product_detail>.quantity{
	margin:20px 0 10px;
}
.cartjs_box{
	width:60% !important;
	float:right !important;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.cartjs_block{
	padding:0 !important;
}
.product_detail>a.order{
	display: block;
	width: 220px;
	line-height: 50px;
	font-size: 16px;
	text-align: center;
	letter-spacing: 1px;
	font-family: system-ui;
	margin: 50px auto 0;
	cursor:pointer;
	transition: opacity .3s;
}
.product_detail>a.order:hover{
	opacity:.8;
}

#order>section.other{
	text-align:center;
	margin:40px 0;
	font-size:0;
}
#order>section.other>h2{
	margin-bottom: 20px;
	font-size: 20px;
}
#order>section.other>h2:after{
	width:60px;
}
#order>section.other>a{
	display: inline-block;
	width: 120px;
	height: 120px;
	text-align: center;
	position: relative;
	margin: 5px;
	transition: all .3s;
}
#order>section.other>a.hover{
	opacity: .8;
}
#order>section.other>a>h3{
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: rgba(255,255,255,.6);
	padding: 5px 0 2px;
	text-shadow: 0 0 10px #FFF;
}
#order>section.other>a>h3>span.more{
	display: block;
	font-size: 12px;
	font-weight: normal;
}
#order>section.other>a>span.photo{
	width: 100%;
	height: 100%;
	display: inline-block;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		Wedding / Works
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/
#wedding>.gallery a,#works>.gallery a{
	-webkit-transition  : all 3s cubic-bezier(0.23, 1, 0.32, 1);
	-moz-transition     : all 3s cubic-bezier(0.23, 1, 0.32, 1);
	-ms-transition      : all 3s cubic-bezier(0.23, 1, 0.32, 1);
	-o-transition       : all 3s cubic-bezier(0.23, 1, 0.32, 1);
	transition          : all 3s cubic-bezier(0.23, 1, 0.32, 1);
}
#wedding>.gallery,#works>.gallery {
	overflow: hidden;
	line-height:0;
	margin-bottom:50px;
}
section.gallery>.image-link {
	display:inline-block;
	width: 24%;
	padding-bottom: 24%;
	background-position:center center;
	background-size:cover;
	margin: .5%;
}
section.gallery>.ap{
	-webkit-transform  : scale(.9);
	-moz-transform     : scale(.9);
	-ms-transform      : scale(.9);
	-o-transform       : scale(.9);
	transform          : scale(.9);
	opacity:0;
}
.lb-dataContainer{
	display:none !important;
}
section.gallery>.col2{
	width:49% !important;
}
section.gallery>.row2col2{
	width:49% !important;
	padding-bottom:49% !important;
	margin-bottom: 0 !important;
}
section.gallery>.row2{
	padding-bottom:49% !important;
}
section.gallery>.row2col3{
	width:74% !important;
	padding-bottom:49% !important;
	margin-bottom: 0 !important;
}
section.gallery>.row3col2{
	width:49% !important;
	padding-bottom:74% !important;
	margin-bottom: 0 !important;
}
section.gallery>div.text{
	line-height: 22px;
	font-size: 14px;
	width:90%;
	margin:30px auto 0;
}
section.gallery>div.text>p{
	margin:20px 0;
}
#wedding>section.gallery>div.text>p:last-child{
	font-size: 12px;
	color: #555;
	margin-top: 30px;
}
section.gallery>div>h2{
	font-size: 20px;
	margin:40px 0 20px;
	text-align:center;
	font-weight:bold;
	line-height:40px;
}
section.gallery>div>h2:after{
	width:60px;
}
section.gallery>div.text>.price_table{
	text-align:center;
}
section.gallery>div.text>.price_table>table{
	display:inline-block;
}
section.gallery>div.text>.price_table>span{
	display:block;
	font-size:18px;
	font-weight:bold;
}
section.gallery>div.text>.price_table>table th{
	font-size:16px;
	width:90px;
}
section.gallery>div.text>.price_table>table td{
	text-align:right;
	width:90px;
}

/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		Shop
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/
#shop>section{
	text-align:center;
	font-family:"ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
}
#shop>section h2{
	font-weight:bold;
	font-size:14px;
	position:relative;
}
#shop>section.shop>h2{
	color:#333;
}
#shop>section.shop>h2>img{
	width:80px;
}
#shop>section.shop>h2:after{
	background-color: #333;
}
#shop>section.company h2{
	color:#FFF;
}
#shop>section.company h2:after{
	background-color: #FFF;
}
#shop>section h2:after{
	content:"";
	width:60px;
	height:1px;
	bottom:0;
	left:0;
	right:0;
	margin: 0 auto;
	position:absolute;
}
#shop>section h2:first-child:after{
	width:60px;
}
#shop>section h2:not(:first-child):after{
	width:26px;
}
#shop>section h2:not(:first-child){
	margin:100px 0 20px;
}
#shop>section>address{
	padding: 20px 0;
	line-height: 22px;
	font-size:12px;
}
#shop>section>p{
	font-size:12px;
	line-height:22px;
}
#shop>section>p>a{
	color:#33C;
	text-decoration:underline;
}
#shop>section table th{
	font-weight:bold;
}
#shop>section table th, #shop>section table td{
	font-size:12px;
	text-align:left;
}
#bois_de_gui_map{
	width:100%;
	height:100%;
}#shop>section h2{
	padding-bottom:10px;
}
#shop>section.company{
	margin-top:60px;
}
#shop>section.company>.pcleft{
	background-color: #C7C7BF;
	padding: 50px 0;
}
#shop>section table.bond_info{
	width: 80%;
	color: #FFF;
	font-size: 12px;
	margin: 20px auto 0;
}
#shop>section table th{
	padding: 10px 20px 10px 0;
  white-space: nowrap;
}
#shop>section table td{
	padding-bottom:10px;
}
#shop>section table td>a{
	color:#33C;
	text-decoration:underline;
}
.map{
	width:100%;
	height:400px;
	margin-top:50px;
}
/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		Contact
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/

#form,
#comp>p,
#check>#contact_confirm{
	margin:0 20px 50px;
	position:relative;
}
#form .selectArea>select.hover,
#form input:not([type="submit"]).hover,
#form textarea.hover{
	border:1px solid #999;
}
#form .selectArea>select,
#form input:not([type="submit"]):not([type="checkbox"]),
#form textarea{
	width:100%;
	border: 1px solid #DDD;
	padding: 5px 10px;
	font-size: 16px !important;
	border-radius: 4px;
	cursor: pointer;
	transition: border .2s;
	background-color:transparent;
}
#form>input:not(:last-child),
#form>textarea{
	margin-bottom:20px;
}
#form .selectArea>select{
	z-index:2;
	position:relative;
}
#form .selectArea{
	position: relative;
}
#form .selectArea:after{
	content: "";
	position: absolute;
	border-top: 8px solid #555;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	right: 15px;
	top: 0;
	bottom: 0;
	margin: auto;
	height: 0;
	z-index: 1;
}
#form .selectArea>span{
	position: absolute;
	right: 0;
	bottom: -20px;
	font-size: 12px;
	color: #E55;
	opacity:0;
	transition: opacity .2s;
}
#form>.selectArea>select,
#form>input:not(:last-child){
	height: 36px;
}
#form>textarea{
	height:200px;;
}
#form>p,
#contact_confirm>p{
	font-size:12px;
	color:#555;
	padding:0 5px 3px 0;
}
#form>div:not(.comment){
	text-align: center;
	margin-bottom: 20px;
}
#form>input[type="submit"],
#check>form>input[type="submit"]{
	border: none;
	line-height: 36px;
	width: 150px;
	border-radius: 4px;
	font-size: 14px;
	margin: 0 auto;
	display: block;
	letter-spacing: 2px;
	text-indent: 1px;
	text-shadow: 0 0 10px rgba(0,0,0,.1);
	cursor:pointer;
	transition: background-color .3s;
}
#form>input[type="submit"]:hover,
#check>form>input[type="submit"]:hover{
	background-color:#ef6565;
}
#form>a,
#check>form>a{
	position: absolute;
	left: 3%;
}
#form>a>input[type="button"],
#check>form>a>input[type="button"]{
	background: none;
	border: none;
	font-size: 14px;
	line-height: 36px;
	cursor: pointer;
}
#comp>p.cname{
	font-weight:bold;
}
#comp>p.thanks{
	font-size:14px;
}
#comp>p>a{
	text-decoration: underline;
}
#comp>p>a:hover,#comp>p>a.hover{
	color:#999;
}

#comp>p.err,
#comp>p.cname,
#comp>p.thanks{
	margin: 0 3% 50px;
}
#comp>p.cname{
	margin: 0 3% 10px;
}


/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		Order Sheet
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/
#order_sheet>.flow{
	border: 2px dashed #DDD;
	padding: 0 20px;
	border-radius: 10px;
	margin: 20px;
}
#order_sheet>.flow>p{
	text-align: center;
	padding: 10px 0 10px;
	font-weight: bold;
	font-size: 16px;
  line-height: 24px;
}
#order_sheet>.flow>p>span{
	margin-left: 5px;
	display: inline-block;
	transition: all .2s;
}
#order_sheet>.flow>p>span.close{
	-webkit-transform  : rotate(180deg);
	-moz-transform     : rotate(180deg);
	-ms-transform      : rotate(180deg);
	-o-transform       : rotate(180deg);
	transform          : rotate(180deg);
}
#order_sheet>.flow>.flow_contents{
	display:none;
}
#order_sheet>.flow>.flow_contents>table{
	font-size: 13px;
	line-height: 20px;
	display:block;
}
#order_sheet>.flow>.flow_contents>.btn_close{
	margin-bottom: 20px;
	text-align:center;
	border: 1px solid #DDD;
	line-height: 32px;
  font-size: 14px;
}
#order_sheet>.flow>.flow_contents>table td{
	padding-bottom: 10px;
}

#order_sheet>form{
	margin: 0 0 40px;
}
#order_sheet>form>h2{
	text-align: center;
	background-color: #6a6c75;
	color: #FFF;
	font-size: 18px;
	padding: 10px 0;
	margin-bottom: 20px;
}

#order_sheet>#form>div{
	margin-left:10px;
	text-align:left;
}
#order_sheet>#form p{
	font-size: 11px;
	font-weight: bold;
	line-height: 11px;
	padding-left: 7px;
}
#form p>span {
	font-weight: normal;
	margin-left: 10px;
}
#form p>span.auto_input{
	border: 1px solid #999;
	margin-left: 10px;
	padding: 2px 4px;
	font-size: 80%;
	font-weight:normal;
}
#order_sheet>#form>div input[type="text"],
#order_sheet>#form>div input[type="tel"]{
	margin-top:5px;
	height:42px;
}
#order_sheet>#form>div textarea{
	margin-top:10px;
}
#order_sheet>#form>div.budget>input{
	width:270px;
}
#order_sheet>#form>div.budget>span{
  vertical-align: bottom;
	margin-left:10px;
}
#order_sheet>#form input[type="radio"] + label {
	cursor: pointer;
	text-align: center;
	line-height: 40px;
	border-radius: 6px;
	display: inline-block;
	font-size: 12px;
	position: relative;
	transition: all .2s;
	border: 1px solid #DDD;
	margin: 5px 10px 5px 0;
	width: calc(100% / 3 - 10px);
}
#order_sheet>#form>div:not(.color) input[type="radio"]:checked + label{
	background-color:#669966;
	color: #FFF;
	border: 1px solid #669966;
	text-shadow:0 0 5px rgba(0,0,0,.3);
}
#order_sheet>#form>div.color>input[type="radio"]:checked + label{
	background-size: cover;
	color: transparent;
	background-position: center center;
}
#order_sheet>#form>.color>input[type="radio"] + label:after{
	content:"";
	width:100%;
	height:100%;
	border-radius:6px;
	position:absolute;
	top: 0;
	left: 0;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	transition: all .3s;
	opacity:0;
}
#order_sheet>#form>div.color>input[type="radio"]:checked + label:after{
	opacity:1;
}
#order_sheet>#form>.use>span.other,
#order_sheet>#form>.notice>.notice_contents>.notice_title>span.other{
	font-size: 14px;
	padding-left: 10px;
	line-height: 40px;
	display: inline-block;
	border-radius: 6px;
	border: 1px solid #DDD;
	width: calc(100% - 10px);
	margin-top: 5px;
}
#order_sheet>#form span.other>input{
	height: 40px;
	border: none;
	color: #333;
	background-color: transparent;
	margin: 0;
	width: calc(100% - 60px);
}
#order_sheet>#form .swich{
  padding: 20px 0;
}
#order_sheet>#form .swich>input{
	width:20px;
	height:20px;
	margin:0;
	background:url(../img/checkbox.gif) no-repeat left center;
	background-size:cover;
	vertical-align: middle;
	border: none;
}
#order_sheet>#form .swich>input:hover{
	background-position: center center;
}
#order_sheet>#form .swich>input:checked{
	background-position: right center;
}
#order_sheet>#form .swich>label {
	vertical-align: middle;
	display: inline-block;
	line-height: 20px;
	font-size: 14px;
	cursor: pointer;
}
#order_sheet>#form>div.card{
	margin-right:10px;
	margin-bottom:0;
}
#order_sheet>#form>div.card textarea{
	height:100px;
}
#order_sheet>#form>.notice>.notice_contents>.notice_title>input[type="radio"]#congratulations + label{
	width: 40%;
}
#order_sheet>#form>.notice>.notice_contents>.notice_title>span.other{
	width: calc(60% - 20px);
	font-size: 12px;
	margin-right: 10px;
}
#order_sheet>#form>.notice>.notice_contents>.notice_title>span.other>input{
	width: calc(100% - 52px);
}
#order_sheet>#form h3 {
	font-size: 14px;
	font-weight: bold;
	clear: both;
	margin-top: 20px;
  margin-bottom: 5px;
}
#order_sheet>#form h3>span {
	font-size: 12px;
	font-weight: normal;
}
#order_sheet>#form>.notice>.notice_contents>.notice_from_to{
	margin-right:10px;
}
#order_sheet>#form>.notice>.notice_contents>.notice_from_to>div{
	padding-bottom:10px;
}
#order_sheet>#form>div.delivery_info{
	margin-right:10px;
	margin-bottom:0;
}
#order_sheet>#form>div.delivery_info>div:not(.swich),
#order_sheet>#form>div.delivery_info>.PIC>div,
#order_sheet>#form>div.payment>div{
	margin-bottom:20px;
}
#order_sheet>#form>div.delivery_info>.delivery_date>.selectArea{
	float:left;
}
#order_sheet>#form>div.delivery_info>.delivery_date>.selectArea.year{
	width: 100px;
  margin: 5px 0 10px;
}
#order_sheet>#form>div.delivery_info>.delivery_date>.selectArea>select{
	padding: 0 10px;
	height: 36px;
}
#order_sheet>#form>div.delivery_info>.delivery_date>.selectArea.year>select{
	border-radius: 4px 0 0 4px;
}
#order_sheet>#form>div.delivery_info>.delivery_date>.selectArea.month{
	width: 80px;
	margin: 5px 0 10px;
}
#order_sheet>#form>div.delivery_info>.delivery_date>.selectArea.month>select{
	border-radius: unset;
	border-left: 0;
	border-right: 0;
}
#order_sheet>#form>div.delivery_info>.delivery_date>.selectArea.date{
	width: 110px;
	margin: 5px 0 10px;
	margin-right: calc(100% - 290px);
}
#order_sheet>#form>div.delivery_info>.delivery_date>.selectArea.date>select{
	border-radius: 0 4px 4px 0;
}
#order_sheet>#form>div.delivery_info>.delivery_date>.selectArea.hour1,
#order_sheet>#form>div.delivery_info>.delivery_date>.selectArea.hour2{
	width:100px;
}
#order_sheet>#form>div.delivery_info>.delivery_date>span{
	float: left;
	line-height: 36px;
	margin: 0 5px;
}

/* Google Chrome, Safari, Opera 15+, Android, iOS */input::-webkit-input-placeholder {font-size:14px;}
/* Firefox 18- */input:-moz-placeholder {font-size:14px;}
/* Firefox 19+ */input::-moz-placeholder {font-size:14px;}
/* IE 10+ */input:-ms-input-placeholder {font-size:14px;}


#order_sheet>#form .PIC{
	width: 100%;
	border: 1px dashed #CCC;
	padding: 10px;
	margin-bottom: 20px;
}
#order_sheet>#form .PIC>h3{
	margin-top:0;
}

/*■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■
		check
■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■■*/
#check>p{
	text-align: center;
	font-size: 14px;
	margin-bottom: 20px;
	padding: 0 3%;
}
#contact_confirm>div{
	margin-bottom:20px;
	background-color: #f4f4f4;
	border-radius: 6px;
	line-height: 24px;
	padding: 10px 20px;
}
#order_confirm{
	padding:0 3%;
	margin-bottom:50px;
}
#order_confirm>section{
	background-color: #fdfdfd;
	border: 1px solid #eee;
	border-radius: 10px;
	margin-bottom: 30px;
}
#order_confirm>section>h2{
	font-size: 16px;
	padding: 14px 24px;
	font-weight: bold;
  color: #fff;
	background-color:#79a;
	border-radius: 6px 6px 0 0;
}
#order_confirm>section>div.table{
	padding:0px 3% 10px;
	width:100%;
	border-bottom: 1px solid #eee;
}
#order_confirm>section.col2>div.table{
	border-bottom: none;
}
#order_confirm>section>div.table>dl{
}
#order_confirm>section>div.table>dl.e1{
}
#order_confirm>section>div.table>dl.ttl>dt{
}
#order_confirm>section>div.table>dl>dt{
	font-size:12px;
}
#order_confirm>section>div.table>dl>dd{
	font-size:14px;
}
#order_confirm>section>div.table>dl>dt{
	font-weight:bold;
	text-align:left;
	padding-top:10px;
}
#order_confirm>section>div.table>dl>dd{
	text-align:right;
}
#order_confirm>section>div.table h3{
	font-size:16px;
	font-weight:bold;
	color:#79a;
	margin-top:30px;
}
#order_confirm>section.col2>div.table>dl>dt{
	padding-bottom:10px;
	text-align:left;
}

#order_sheet>#form>div.payment{
	margin-right:10px;
}
#order_sheet>#form>div.payment>.deposit_date>.selectArea{
	float:left;
}
#order_sheet>#form>div.payment>.deposit_date>.selectArea.year_pay{
	width: 100px;
  margin: 5px 0 10px;
}
#order_sheet>#form>div.payment>.deposit_date>.selectArea>select{
	padding: 0 10px;
	height: 36px;
}
#order_sheet>#form>div.payment>.deposit_date>.selectArea.year_pay>select{
	border-radius: 4px 0 0 4px;
}
#order_sheet>#form>div.payment>.deposit_date>.selectArea.month_pay{
	width: 80px;
	margin: 5px 0 10px;
}
#order_sheet>#form>div.payment>.deposit_date>.selectArea.month_pay>select{
	border-radius: unset;
	border-left: 0;
	border-right: 0;
}
#order_sheet>#form>div.payment>.deposit_date>.selectArea.date_pay{
	width: 110px;
	margin: 5px 0 10px;
	margin-right: calc(100% - 290px);
}
#order_sheet>#form>div.payment>.deposit_date>.selectArea.date_pay>select{
	border-radius: 0 4px 4px 0;
}
#order_sheet>#form>.comments{
	margin-right:10px;
}
#order_sheet>#form>.comments>.detail_comments>textarea{
	height:100px;
}

}